html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #FDFDFD;
    color: #000000;
    margin: 0%;
    padding: 60px 0px 0px 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Inicio cabecera*/
#cabecera {
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 1;
}

nav {
    width: 100%;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav span {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

nav span a {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

/*Fin cabecera*/

/*Inicio main*/
main {
    width: 80%;
    margin: auto;
}

main section {
    margin: 10px 0;
}

/*Fin main*/

/*Estilos comunes*/
#albumes,
#galeria,
#datos,
#contacto,
#principal {
    box-sizing: border-box;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 10px 0px;
    width: 100%;
    border: #808080 1px solid;
}

/*Estilos comunes*/

/*Inicio fuentes predefinidas*/

.titu {
    width: 100%;
    margin: 10px;
    text-align: center;
}

h2 {
    padding: 2px 0;
    margin: 0%;
}

h3 {
    padding: 2px 0;
    margin: 0%;
    font-size: 1.5em;
}

h4 {
    padding: 2px 0;
    margin: 0%;
    color: #ff0062;
}

h5 {
    padding: 2px 0;
    margin: 0%;
    color: #141414d8;
    font-weight: bold;
}

/*Fin fuentes predefinidas*/

/*Inicio enlaces*/
a {
    color: #ff0062;
    text-decoration: none;
}

a:hover {
    color: #BF0049;
    text-decoration: underline;
}

/*Fin enlaces*/

/*Inicio Tracked*/
#principal img {
    min-width: 50px;
    width: 35%;
    max-width: 500px;
    float: right;
    margin: 0px 15px 0px 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

#principal p,
#principal h3 {
    margin: 10px;
    text-align: justify;
}

/*Incicio Tracked*/

/*Inicio albumes*/
#albumes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#albumes article {
    width: 40%;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: center;
}

#albumes article img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    border: #808080 solid 1px;
    box-shadow: 0 0px 10px 2px #808080;
}

/*Fin albumes*/

/*Inicio galeria*/
#galeria article {
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 95%;
}

#galeria img {
    max-width: 300px;
    box-sizing: border-box;
    margin: 0px 0px 10px 0px;
    border: #808080 1px solid;
    box-shadow: 0 0px 10px 2px #808080;
    border-radius: 10px;
}

/*Fin galeria*/

/*Inicio datos*/
#datos table {
    border: solid 1px #808080;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
    width: 95%;
    margin: 5px auto;
    box-shadow: 4px 3px 13px 1px rgba(0, 0, 0, 0.342);
}

#datos thead,
#datos tfoot {
    background: #111111;
    color: #ff0062;
}

#datos thead {
    border-bottom: 1px solid #808080;
}

#datos tfoot {
    border-top: 1px solid #808080;
}

#datos thead th,
#datos tfoot th,
#datos tbody td {
    padding: 5px 5px;
}

#datos tbody tr:nth-child(2n+1) {
    background-color: #dfdfdf;
}

#datos tbody tr:hover {
    background-color: #ff00621a !important;
}

#datos tbody td:hover {
    background: #ff00621a;
}

/*Fin datos*/

/*Inicio contacto*/
#contacto form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 5px;
}

#contacto form span {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    text-align: center;
    cursor: default;
}

#contacto form>#mensaje,
#contacto form>#prot {
    width: 100%;
}

textarea,
input,
select {
    width: 100%;
    border-radius: 5px;
    vertical-align: text-top;
    background-color: #ffffffdc;
    border: 1px solid #2f2f2f;
    padding: 5px;
    margin: 5px;
}

form label {
    cursor: pointer;
}

#genero input {
    width: initial;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    width: 150px;
    border-radius: 5px;
    margin: auto;
}

form button:focus,
form input:focus,
form textarea:focus,
form select:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #ff0062;
}

#genero input,
#prot_datos {
    box-shadow: none;
}

/*Fin contacto*/

/*Inicio pie*/

#pie {
    display: flex;
    width: 100%;
    color: #ff0062;
    background-color: #111111;
    justify-content: space-around;
}

#pie .datos {
    box-sizing: border-box;
    max-width: 25%;
}

/*Fin pie*/

/*Inicio media*/

@media (max-width:768px) {

    /*Inicio media nav y pie*/
    nav,
    footer {
        font-size: 0.7em;
    }

    #pie {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #pie>.datos {
        max-width: unset;
        width: 50%;
        padding: 0px 15px;

    }

    /*fin media nav y pie*/

    /*Inicio media main*/
    main {
        width: 95%;
        margin: auto;
        box-sizing: border-box;
    }

    /*Fin media main*/

    /*Inicio media comunes*/
    #galeria article,
    #albumes article,
    #principal article {
        width: 95%;
        margin: 5px auto;
        padding: 5px 20px;
    }

    /*Fin media comunes*/

    /*Inicio media galeria*/
    #galeria img {
        width: 100%;
        max-width: unset;
        /**/
    }

    /*Fin media galeria*/

    /*Inicio media principal*/
    #principal img {
        display: block;
        float: none;
        margin: auto;
        width: 95%;
        max-width: unset;
    }

    #principal h3 {
        text-align: center;
    }

    /*Fin media principal*/

    /*Inicio media datos*/
    #datos table {
        font-size: 0.6em;
    }

    #datos table {
        width: 95%;
    }

    .samp {
        display: none;
    }

    /*Fin media datos*/

    /*Inicio media contacto*/
    #contacto form span {
        width: 100%;
    }

    /*Fin media contacto*/
}

/*Fin media*/